	<div id="container">
		<div id="content">
<div class="big-title" href="/" title="<%= CONFIG['blog']['title'] %>" rel="home"><%= CONFIG['blog']['title'] %></a></div>

<% @posts.each do |post| %>
			<div id="post-<%= post.id %>" class="">
				<div class="entry-content">
<%= post.perex %>
				</div>
				<div class="entry-meta2">
					<abbr class="published"><%= human_date post.published_on %></abbr>, <a href="/<%= post.id %>.html" title="<%= h(post.title) %>" rel="bookmark"><%= h(post.title) %></a>
				</div>
			</div><!-- .post -->

<% end %>

		</div><!-- #content -->
	</div><!-- #container -->
